body {
  background-color: black;
}

#app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body-matte {
  flex: 1;
  background-color: rgb(220, 220, 220);
}

#top {
  padding: 1rem;
}

#settings {
  width: 15rem;
  background-color: rgba(40, 50, 128, 0.7);
  padding: 1rem;
  padding-top: 0.3rem;
}

#settings > div {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1rem;
}

#volume-slider {
  accent-color: rgb(50, 200, 150);
}

#stats-display {
  margin-top: 1rem;
  width: 15rem;
  background-color: rgba(40, 50, 128, 0.7);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#stats-display p {
  margin: 0;
  color: white;
}

#middle {
  display: flex;
  flex-direction: row;
}

#canvas {
  width: 500px;
  height: 500px;
}

.ripple {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 4px solid white;
  z-index: -1;
}

@keyframes ripple-effect {
  to {
    transform: scale(140);
    background-color: transparent;
  }
}
