body {
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
}

#settings {
  width: 12rem;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0;
}

#settings > div {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1rem;
}

canvas {
  margin-top: 1rem;
  align-self: center;
  background-color: darkred;
}

#stats-display {
  margin-top: 1rem;
  width: 400px;
  align-self: center;
  background-color: rgba(40, 50, 128, 0.7);
}

#stats-display p {
  margin: 0.5rem;
  color: white;
}
